 .top_left, .top_right {
   font-family: arial, sans-serif;
   font-size: 13px;
   display: inline-block;
   padding-left: 4px;
   color: #000;
   opacity: 0.75;
   margin: 25px 0 0 10px;
   box-sizing: content-box;
   position: static; 
   z-index: auto;
}

#first_link {
  padding-left: 15px;

}

.top_left, top_right, a:link, a:visited, a:active {
   text-decoration: none; color: #000;
 }
a:hover {text-decoration: underline;}

 .top_left {
   

 }

 .top_right {
   float: right;
   opacity: 0.85;
   
 }

 .button {
  margin: 16px 0 0 10px;
  color: #fff;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-weight: bold;
  outline: none;
  line-height: 28px;
  padding: 0 12px;
  margin-right: 36px;
  margin-left: 5px;
  opacity: 1;
 }


 .logo {
   padding-top: 160px;
   padding-left: 505px;
   margin-bottom: 25px;
 
  
 }

 .search_form {
  width: 584px;
  height: 44px;
  font: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  background: #fff;
  display: flex;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  padding-left: 15px;
 }

 .search_form:hover, input:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
 }

 .search_buttons {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #757575;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  height: 36px;
  line-height: 27px;
  cursor: pointer;
  padding: 0 16px;
  margin: 30px 3px;
 }

 .search_buttons:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
 }

 .first_search_button {
   margin-left: 499px;
 }

.lang {
  font-family: arial, sans-serif;
  font-size: 13px;
  opacity: 0.9;
  color: #000;
  margin: 0 auto;
  display: flex;
  width: 175px;
  padding: 0 3px;
}

.lang a {
  color: #1a0dab;
  opacity: 1;
  font-weight: 500;

}

.lang a:hover {
  text-decoration: underline
}

#menu {
background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
background-position-x: -132px;
background-position-y: -38px;
background-size: 528px 68px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: inline-block;
height: 30px;
line-height: 15px;
opacity: 0.55;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
white-space: nowrap;
width: 30px;
margin: 15px;
}

#menu a:hover {
  opacity: 0.85;
  color: #000;

}

.footer {
  color: rgba(0, 0, 0, 0.54);
  font-family: arial, sans-serif;
  font-size: 13px;
  text-align: left;
}